body::-webkit-scrollbar {
    width: 8px;
    background-color: #212121;
}

body::-webkit-scrollbar-track {
    background-color: #cecece;
}

body::-webkit-scrollbar-thumb {
    background-color: #474545;
}

.v-content__wrap {
    background: #cecece !important;
    font-size: 15px !important;
    font-family: 'Rubik', sans-serif;
}